.slider {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
}

.dark .arrow {
  background-color: rgb(35, 39, 47);
  color: rgb(246, 247, 249);
}

.light .arrow {
  background-color: white;
  color: black;
}
