.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  background-color: white;
  border-bottom: 1px solid rgb(242, 244, 245);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dark {
  background-color: rgb(35, 39, 47);
  border-bottom: 1px solid rgb(60, 60, 60);
}

.light {
  background-color: white;
}

.title {
  font-size: 28px;
}

.date {
  font-size: 16px;
}
